extends layout

block content
  section.container
    h1= title
    p Welcome to #{title}

  section.comment-form.container
    form(action='/', method='POST' class="form-group")
      div.form-group
        label(for="comment") Comment
        textarea(name="comment" id="comment" placeholder="Enter a comment" required autofocus class="form-control")

      div.form-group
        label(for="author") Author
        input(type="text" name="author" id="author" placeholder="Your name" required class="form-control")

      button(type="submit" class="btn btn-primary float-right") Submit

  div.clearfix

  section.comments.container
    each comment in comments
      div.comment-container
        div.author-content !{comment.author} at
          span.created-date #{comment.createdAt}
        div.comment-content !{comment.comment}
