body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.comments {
  margin-top: 15px;
}

.comment-container {
  border: solid 1px lightblue;
  margin-bottom: 15px;
  border-radius: 4px;
}

.author-content {
  background: lightblue;
  padding: 10px;
}

.comment-content {
  padding: 10px;
}

.created-date {
  margin-left: 5px;
}
